In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
import seaborn as sns
from datetime import datetime

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
plt.style.use("ggplot")

In [2]:
df1 = pd.read_csv('L1.csv')
df2 = pd.read_csv('L2.csv')
df3 = pd.read_csv('L3.csv')
df4 = pd.read_csv('L4.csv')
df5 = pd.read_csv('L5.csv')
df6 = pd.read_csv('L6.csv')
df_product = pd.read_excel('L4_pd_분류수정.xlsx')

C:\Users\User\AppData\Local\Temp\ipykernel_11828\740544795.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('L2.csv')

In [3]:
from mlxtend.frequent_patterns import apriori # 연관분석 수행 함수
from mlxtend.frequent_patterns import association_rules # 연관분석 결과 확인

In [4]:
#연관분석을 위해, 구매여부를 1,0으로 나타내주기 위한 라벨링
df2['Label'] = 1

In [5]:
#1분기 연관분석

#결제데이터 - 제품데이터 결합
df7 = pd.merge(df2, df_product, on='pd_c', how='left')

#df2데이터에 월별 변수 추가
df7['de_dt_m'] = pd.to_datetime(df7['de_dt'], format= '%Y%m%d').dt.month

cond1 = df7['de_dt_m'] <= 3

In [6]:
# 3월달까지의 데이터
df_1q = df7.loc[cond1]

In [7]:
#판매량이 너무 많은 품목 필터링
df_sell = df_1q['pd_c'].value_counts().reset_index()
cond8 = df_sell['count'] < 15000

low_list = df_sell.loc[cond8]['pd_c'].tolist()
cond9 = df_1q['pd_c'].isin(low_list)

df_1Q = df_1q.loc[cond9]

In [8]:

# 연관분석을 위해 고객별_제품별 상품별 구매 여부(1,0) 데이터로 변환 , nan값은 0으로 
#p1 = df_1Q.pivot_table(index=['cust', 'de_dt'], columns='pd_nm', values='Label', aggfunc='min', fill_value=0)

#연관분석 진행, 최소 지지도 0.01
df_freq = apriori(p1, min_support = 0.008, use_colnames=True)

NameError: name 'p1' is not defined

In [ ]:
df_freq

In [ ]:
association_rules(df_freq, metric='confidence', min_threshold=0.005)

In [ ]:
#2분기 연관분석
cond2 = df7['de_dt_m'] > 3
cond3 = df7['de_dt_m'] <= 6

df_2q = df7.loc[cond2 & cond3]

#2분기 판매량 너무 많은 것 필터링
df_sell2 = df_2q['pd_c'].value_counts().reset_index()
cond10 = df_sell2['count'] < 15000

low_list2 = df_sell2.loc[cond10]['pd_c'].tolist()
cond11 = df_2q['pd_c'].isin(low_list2)

df_2Q = df_2q.loc[cond11]

In [ ]:
#p2 = df_2Q.pivot_table(index=['cust', 'de_dt'], columns='pd_nm', values='Label', aggfunc='min', fill_value=0)

#연관분석 진행, 최소 지지도 0.01
df_freq = apriori(p2, min_support = 0.007, use_colnames=True)

In [ ]:
df_freq

In [ ]:
association_rules(df_freq, metric='confidence', min_threshold=0.001)

In [ ]:
#3분기 연관분석
cond4 = df7['de_dt_m'] > 6 
cond5 = df7['de_dt_m'] <= 9

In [ ]:
#4분기 연관분석
cond6 = df7['de_dt_m'] > 9
cond7 = df7['de_dt_m'] <= 12

In [ ]:
#연령대별로 
#시간대별로 (오전 오후)
#편의점에서 연령대별로 / 시간대별로

df7

In [ ]:
df_total = pd.read_csv('total_yutong.csv')

In [ ]:
df_total['Label'] = 1

- 연령대별

In [ ]:
#연령대별 조건
cond12 = df_total['ages'] == '20대'
cond13 = df_total['ages'] == '30대'
cond14 = df_total['ages'] == '40대'
cond15 = df_total['ages'] == '50대'
cond16 = df_total['ages'] == '60대'

In [ ]:
df_20 = df_total.loc[cond12]

In [ ]:
#20대 연관분석
list20 = df_20['pd_nm'].value_counts().reset_index().iloc[3:]['pd_nm'].tolist()
cond17 = df_total['pd_nm'].isin(list20)
df_21 = df_20.loc[cond17]

In [ ]:
df_21

In [ ]:
p20 = df_21.pivot_table(index=['cust', 'de_dt'], columns='pd_nm', values='Label', aggfunc='min', fill_value=0)

#연관분석 진행, 최소 지지도 0.01
df_freq = apriori(p20, min_support = 0.005, use_colnames=True)
df_freq

In [ ]:
association_rules(df_freq, metric='confidence', min_threshold=0.001)

In [ ]:
df_total = pd.read_csv('total_yutong.csv')
df_total['Label'] = 1

In [ ]:
#30대 반기 필터링
df_30 = df_total.loc[cond13]
df_30['de_dt_m'] =  pd.to_datetime(df_30['de_dt'], format = '%Y%m%d').dt.month
cond19 = df_30['de_dt_m'] < 4
df_30_h = df_30.loc[cond19]

list30 = df_30_h['pd_nm'].value_counts().reset_index().iloc[1:1000]['pd_nm'].tolist()
cond18 = df_total['pd_nm'].isin(list30)
df_31 = df_total.loc[cond18]

#30대 연관분석
p30 = df_31.pivot_table(index=['cust', 'de_dt'], columns='pd_nm', values='Label', aggfunc='min', fill_value=0)

#연관분석 진행, 최소 지지도 0.01
df_freq3 = apriori(p30, min_support = 0.05, use_colnames=True)
df_freq3

In [ ]:
p30

In [ ]:
association_rules(df_freq3, metric='confidence', min_threshold=0.01)

In [ ]:
p30

In [ ]:
#40대 필터링
df_40 = df_total.loc[cond14]
list40 = df_40['pd_nm'].value_counts().reset_index().iloc[3:1500]['pd_nm'].tolist()
cond20 = df_total['pd_nm'].isin(list40)
df_41 = df_total.loc[cond19]

#40대 연관분석
p40 = df_41.pivot_table(index=['cust', 'de_dt'], columns='pd_nm', values='Label', aggfunc='min', fill_value=0)

#연관분석 진행, 최소 지지도 0.01
df_freq4 = apriori(p40, min_support = 0.007, use_colnames=True)
df_freq4

In [ ]:
association_rules(df_freq4, metric='confidence', min_threshold=0.001)

In [ ]:
#50대 필터링
df_50 = df_total.loc[cond15]
list50 = df_50['pd_nm'].value_counts().reset_index().iloc[3:1500]['pd_nm'].tolist()
cond21 = df_total['pd_nm'].isin(list50)
df_51 = df_total.loc[cond19]

#50대 연관분석
p50 = df_51.pivot_table(index=['cust', 'de_dt'], columns='pd_nm', values='Label', aggfunc='min', fill_value=0)

#연관분석 진행, 최소 지지도 0.01
df_freq5 = apriori(p50, min_support = 0.007, use_colnames=True)
df_freq5

- 시간대별 필터링

In [ ]:
#시간대별 설정
cond_mor = df_total['de_hr'] < 13
cond_after = df_total['de_hr'] < 19
cond_eve = df_total['de_hr'] < 24
cond_1q = df_total['de_dt_m'] < 4

In [ ]:
#1분기 오전 시간대
df_total_1q_m = df_total.loc[cond_mor & cond_1q]

list_m = df_total_1q_m['pd_nm'].value_counts().reset_index().iloc[3:1500]['pd_nm'].tolist()
cond23 = df_total_1q_m['pd_nm'].isin(list_m)
df_m = df_total.loc[cond23]

#반기 오전 시간대 연관분석
p13 = df_m.pivot_table(index=['cust', 'de_dt'], columns='pd_nm', values='Label', aggfunc='min', fill_value=0)

#연관분석 진행, 최소 지지도 0.01
df_freq13 = apriori(p13, min_support = 0.02, use_colnames=True)
df_freq13

In [ ]:
#1분기 오후 시간대
df_total_1q_a = df_total.loc[cond_after & cond_1q]

list_a = df_total_1q_a['pd_nm'].value_counts().reset_index().iloc[3:1500]['pd_nm'].tolist()
cond24 = df_total_1q_a['pd_nm'].isin(list_a)
df_a = df_total.loc[cond24]

#반기 오후 시간대 연관분석
p19 = df_a.pivot_table(index=['cust', 'de_dt'], columns='pd_nm', values='Label', aggfunc='min', fill_value=0)

#연관분석 진행, 최소 지지도 0.01
df_freq19 = apriori(p19, min_support = 0.02, use_colnames=True)
df_freq19

In [ ]:
#1분기 저녁 시간대
df_total_1q_e = df_total.loc[cond_eve & cond_1q]

list_e = df_total_1q_e['pd_nm'].value_counts().reset_index().iloc[3:1500]['pd_nm'].tolist()
cond25 = df_total_1q_e['pd_nm'].isin(list_e)
df_e = df_total.loc[cond25]

#반기 저녁 시간대 연관분석
p24 = df_e.pivot_table(index=['cust', 'de_dt'], columns='pd_nm', values='Label', aggfunc='min', fill_value=0)

#연관분석 진행, 최소 지지도 0.01
df_freq24 = apriori(p24, min_support = 0.02, use_colnames=True)
df_freq24

- 세븐일레븐

In [ ]:
#세븐일레븐
df_total
cond77 = df_total['cop_c_x'] == 'A04'
df_seven = df_total.loc[cond77]

In [ ]:
cond13 = df_seven['de_hr'] < 13
cond19_1 = df_seven['de_hr'] >= 13
cond19 = df_seven['de_hr'] < 19
cond24_1  = df_seven['de_hr'] >=24
cond24 = df_seven['de_hr'] < 24

In [ ]:
#세븐일레븐 오전시간 연관분석

df_seven_mor = df_seven.loc[cond13]
cond78 = df_seven_mor['pd_nm'] != '기타생활서비스'
cond79 = df_seven_mor['pd_nm'] != '봉투보증금'
df_77 = df_seven_mor.loc[cond78 & cond79]

In [ ]:
p77 = df_77.pivot_table(index=['cust', 'de_dt'], columns='pd_nm', values='Label', aggfunc='min', fill_value=0)

df_freq_seven = apriori(p77, min_support = 0.01, use_colnames=True)
df_freq_seven

In [ ]:
#세븐일레븐 오전시간 연관분석
association_rules(df_freq_seven, metric='confidence', min_threshold=0.01)

In [ ]:
#세븐일레븐 오후시간 연관분석

df_seven_a = df_seven.loc[cond19]
cond78 = df_seven_a['pd_nm'] != '기타생활서비스'
cond79 = df_seven_a['pd_nm'] != '봉투보증금'
df_77_a = df_seven_a.loc[cond78 & cond79]

p77 = df_77_a.pivot_table(index=['cust', 'de_dt'], columns='pd_nm', values='Label', aggfunc='min', fill_value=0)

df_freq_seven_a = apriori(p77, min_support = 0.01, use_colnames=True)
df_freq_seven_a

#세븐일레븐 오후시간 연관분석
association_rules(df_freq_seven_a, metric='confidence', min_threshold=0.01)

In [ ]:
#세븐일레븐 저녁시간 연관분석

df_seven_e = df_seven.loc[cond24]
cond78 = df_seven_e['pd_nm'] != '기타생활서비스'
cond79 = df_seven_e['pd_nm'] != '봉투보증금'
df_77_e = df_seven_e.loc[cond78 & cond79]

p77 = df_77_e.pivot_table(index=['cust', 'de_dt'], columns='pd_nm', values='Label', aggfunc='min', fill_value=0)

df_freq_seven_e = apriori(p77, min_support = 0.01, use_colnames=True)
df_freq_seven_e

#세븐일레븐 저녁시간 연관분석
association_rules(df_freq_seven_e, metric='confidence', min_threshold=0.01)

In [ ]:
df_freq_seven_e.sort_values(by='support', ascending=False)

In [ ]:
#세븐일레븐 전체 연관분석

cond78 = df_seven['pd_nm'] != '기타생활서비스'
cond79 = df_seven['pd_nm'] != '봉투보증금'
df77 = df_seven.loc[cond78 & cond79]

p77 = df77.pivot_table(index=['cust', 'de_dt'], columns='pd_nm', values='Label', aggfunc='min', fill_value=0)

df_freq_seven= apriori(p77, min_support = 0.005, use_colnames=True)
df_freq_seven

#세븐일레븐 전체 연관분석
seven_all = association_rules(df_freq_seven, metric='confidence', min_threshold=0.005)

In [ ]:
seven_all

In [ ]:
seven_all.sort_values(by='lift', ascending=False).tail(60)

In [ ]:
#시간대별 설정
cond_mor = df_total['de_hr'] < 13
cond_after_1 = df_total['de_hr'] >=13
cond_after = df_total['de_hr'] < 19
cond_eve_1 = df_total['de_hr'] >=19
cond_eve = df_total['de_hr'] < 24
df_total['de_dt_m'] =  pd.to_datetime(df_total['de_dt'], format = '%Y%m%d').dt.month
cond_1q = df_total['de_dt_m'] < 4 
cond_2q_1 = df_total['de_dt_m'] >= 4
cond_2q = df_total['de_dt_m'] < 7
cond_3q_1 = df_total['de_dt_m'] >= 7
cond_3q = df_total['de_dt_m'] < 10 
cond_4q_1 = df_total['de_dt_m'] >= 10
cond_4q = df_total['de_dt_m'] < 13

In [ ]:
#2분기 오전 시간대
df_total_2q_m = df_total.loc[cond_mor & cond_2q & cond_2q_1]

list_m = df_total_2q_m['pd_nm'].value_counts().reset_index().iloc[3:]['pd_nm'].tolist()
cond23 = df_total_2q_m['pd_nm'].isin(list_m)
df_m = df_total_2q_m.loc[cond23]

#반기 오전 시간대 연관분석
p13 = df_m.pivot_table(index=['cust', 'de_dt'], columns='pd_nm', values='Label', aggfunc='min', fill_value=0)

#연관분석 진행, 최소 지지도 0.01
df_freq13 = apriori(p13, min_support = 0.01, use_colnames=True)
df_freq13

df_total_2Q_M = association_rules(df_freq13, metric='confidence', min_threshold=0.01)

df_total_2Q_M

In [ ]:
#2분기 오후 시간대
df_total_2q_a = df_total.loc[cond_after & cond_after_1 & cond_2q & cond_2q_1]

list_a = df_total_2q_a['pd_nm'].value_counts().reset_index().iloc[3:]['pd_nm'].tolist()
cond23 = df_total_2q_a['pd_nm'].isin(list_a)
df_a = df_total_2q_a.loc[cond23]

#반기 오전 시간대 연관분석
p19 = df_a.pivot_table(index=['cust', 'de_dt'], columns='pd_nm', values='Label', aggfunc='min', fill_value=0)

#연관분석 진행, 최소 지지도 0.01
df_freq19 = apriori(p19, min_support = 0.01, use_colnames=True)
df_freq19

df_total_2Q_A = association_rules(df_freq19, metric='confidence', min_threshold=0.01)

df_total_2Q_A

In [ ]:
#2분기 저녁 시간대
df_total_2q_e = df_total.loc[cond_eve & cond_eve_1 & cond_2q & cond_2q_1]

list_e = df_total_2q_e['pd_nm'].value_counts().reset_index().iloc[3:]['pd_nm'].tolist()
cond23 = df_total_2q_e['pd_nm'].isin(list_e)
df_e = df_total_2q_e.loc[cond23]

#2분기 저녁 시간대 연관분석
p24 = df_e.pivot_table(index=['cust', 'de_dt'], columns='pd_nm', values='Label', aggfunc='min', fill_value=0)

#연관분석 진행, 최소 지지도 0.01
df_freq24 = apriori(p24, min_support = 0.01, use_colnames=True)
df_freq24

df_total_2Q_E = association_rules(df_freq24, metric='confidence', min_threshold=0.01)

df_total_2Q_E

In [ ]:
#3분기 오전 시간대
df_total_3q_m = df_total.loc[cond_mor & cond_3q & cond_3q_1]

list_m = df_total_3q_m['pd_nm'].value_counts().reset_index().iloc[3:]['pd_nm'].tolist()
cond23 = df_total_3q_m['pd_nm'].isin(list_m)
df_m = df_total_3q_m.loc[cond23]

#3분기 오전 시간대 연관분석
p13 = df_m.pivot_table(index=['cust', 'de_dt'], columns='pd_nm', values='Label', aggfunc='min', fill_value=0)

#연관분석 진행, 최소 지지도 0.01
df_freq13 = apriori(p13, min_support = 0.01, use_colnames=True)
df_freq13

df_total_3Q_M = association_rules(df_freq13, metric='confidence', min_threshold=0.01)

df_total_3Q_M

In [ ]:
#3분기 오후 시간대
df_total_3q_a = df_total.loc[cond_after & cond_after_1 & cond_3q & cond_3q_1]

list_a = df_total_3q_a['pd_nm'].value_counts().reset_index().iloc[3:]['pd_nm'].tolist()
cond23 = df_total_3q_a['pd_nm'].isin(list_a)
df_a = df_total_3q_a.loc[cond23]

#3분기 오후 시간대 연관분석
p19 = df_a.pivot_table(index=['cust', 'de_dt'], columns='pd_nm', values='Label', aggfunc='min', fill_value=0)

#연관분석 진행, 최소 지지도 0.01
df_freq19 = apriori(p19, min_support = 0.01, use_colnames=True)
df_freq19

df_total_3Q_A = association_rules(df_freq19, metric='confidence', min_threshold=0.01)

df_total_3Q_A

In [ ]:
#3분기 저녁 시간대
df_total_3q_e = df_total.loc[cond_eve & cond_eve_1 & cond_3q & cond_3q_1]

list_e = df_total_3q_e['pd_nm'].value_counts().reset_index().iloc[3:]['pd_nm'].tolist()
cond23 = df_total_3q_e['pd_nm'].isin(list_e)
df_e = df_total_3q_e.loc[cond23]

#3분기 저녁 시간대 연관분석
p24 = df_e.pivot_table(index=['cust', 'de_dt'], columns='pd_nm', values='Label', aggfunc='min', fill_value=0)

#연관분석 진행, 최소 지지도 0.01
df_freq24 = apriori(p24, min_support = 0.01, use_colnames=True)
df_freq24

df_total_3Q_E = association_rules(df_freq24, metric='confidence', min_threshold=0.01)

df_total_3Q_E

In [ ]:
#4분기 오전 시간대
df_total_4q_m = df_total.loc[cond_mor & cond_4q & cond_4q_1]

list_m = df_total_4q_m['pd_nm'].value_counts().reset_index().iloc[3:]['pd_nm'].tolist()
cond23 = df_total_4q_m['pd_nm'].isin(list_m)
df_m = df_total_4q_m.loc[cond23]

#4분기 오전 시간대 연관분석
p13 = df_m.pivot_table(index=['cust', 'de_dt'], columns='pd_nm', values='Label', aggfunc='min', fill_value=0)

#연관분석 진행, 최소 지지도 0.01
df_freq13 = apriori(p13, min_support = 0.005, use_colnames=True)
df_freq13

df_total_4Q_M = association_rules(df_freq13, metric='confidence', min_threshold=0.01)

df_total_4Q_M

In [ ]:
#4분기 오후 시간대
df_total_4q_a = df_total.loc[cond_after & cond_after_1 & cond_4q & cond_4q_1]

list_a = df_total_4q_a['pd_nm'].value_counts().reset_index().iloc[3:]['pd_nm'].tolist()
cond23 = df_total_4q_a['pd_nm'].isin(list_a)
df_a = df_total_4q_a.loc[cond23]

#4분기 오후 시간대 연관분석
p19 = df_a.pivot_table(index=['cust', 'de_dt'], columns='pd_nm', values='Label', aggfunc='min', fill_value=0)

#연관분석 진행, 최소 지지도 0.01
df_freq19 = apriori(p19, min_support = 0.01, use_colnames=True)
df_freq19

df_total_4Q_A = association_rules(df_freq19, metric='confidence', min_threshold=0.01)

df_total_4Q_A

In [ ]:
#4분기 저녁 시간대
df_total_4q_e = df_total.loc[cond_eve & cond_eve_1 & cond_4q & cond_4q_1]

list_e = df_total_4q_e['pd_nm'].value_counts().reset_index().iloc[3:]['pd_nm'].tolist()
cond23 = df_total_4q_e['pd_nm'].isin(list_e)
df_e = df_total_4q_e.loc[cond23]

#4분기 저녁 시간대 연관분석
p24 = df_e.pivot_table(index=['cust', 'de_dt'], columns='pd_nm', values='Label', aggfunc='min', fill_value=0)

#연관분석 진행, 최소 지지도 0.01
df_freq24 = apriori(p24, min_support = 0.01, use_colnames=True)
df_freq24

df_total_4Q_E = association_rules(df_freq24, metric='confidence', min_threshold=0.01)

df_total_4Q_E

In [ ]:
#하이마트 분석 A05
#롯데마트 A02

#롯데마트 - 하이마트 분석 ( 하이마트 산 사람만 뽑아내기)
 
cond_depart = df_total['cop_c_x'] == 'A01' #롯데백화점
cond_lm = df_total['cop_c_x'] == 'A02' #롯데마트
cond_super = df_total['cop_c_x'] == 'A03' #롯데슈퍼
cond_h = df_total['cop_c_x'] == 'A05' #하이마트

df_himart = df_total.loc[cond_h]
df_lottemart = df_total.loc[cond_lm]
df_super = df_total.loc[cond_super]
df_depart = df_total.loc[cond_depart]

In [ ]:
#하이마트 - 롯데마트 결합
df_himart_mart = pd.merge(df_himart, df_lottemart, on=['cust', 'de_dt'], how='left')

In [ ]:
df_himart_mart['Label'] = 1

In [ ]:
df_himart_mart.columns

In [ ]:
#하이마트-마트 연관분석
p24 = df_himart_mart.pivot_table(index=['cust', 'de_dt'], columns='pd_nm_x', values='Label_x', aggfunc='min', fill_value=0)

#연관분석 진행, 최소 지지도 0.01
df_freq24 = apriori(p24, min_support = 0.002, use_colnames=True)
df_freq24

df_himart2 = association_rules(df_freq24, metric='confidence', min_threshold=0.002).tail(60)

df_himart2

In [ ]:
df_himart_mart['pd_nm_x']

In [ ]:
#하이마트 - 롯데슈퍼 결합
df_himart_super = pd.merge(df_himart, df_super, on=['cust', 'de_dt'], how='left')
df_himart_super

In [ ]:
#하이마트 - 백화점 결합
df_himart_depart = pd.merge(df_himart, df_depart, on=['cust', 'de_dt'], how='left')
df_himart_depart

#하이마트-마트 연관분석
p24 = df_himart_depart.pivot_table(index=['cust', 'de_dt'], columns='pd_nm_x', values='Label_x', aggfunc='min', fill_value=0)

#연관분석 진행, 최소 지지도 0.01
df_freq24 = apriori(p24, min_support = 0.001, use_colnames=True)
df_freq24

df_himart_depart = association_rules(df_freq24, metric='confidence', min_threshold=0.001)

df_himart_depart.sort_values(by='support').head(100)

In [ ]:
df_lottemart

In [ ]:
df_seven

In [ ]:
df_depart

In [ ]:
df_lottemart

In [ ]:
#시간대별 설정
cond_mor = df_total['de_hr'] < 13
cond_after_1 = df_total['de_hr'] >=13
cond_after = df_total['de_hr'] < 19
cond_eve_1 = df_total['de_hr'] >=19
cond_eve = df_total['de_hr'] < 24
df_total['de_dt_m'] =  pd.to_datetime(df_total['de_dt'], format = '%Y%m%d').dt.month
cond_1q = df_total['de_dt_m'] < 4 
cond_2q_1 = df_total['de_dt_m'] >= 4
cond_2q = df_total['de_dt_m'] < 7
cond_3q_1 = df_total['de_dt_m'] >= 7
cond_3q = df_total['de_dt_m'] < 10 
cond_4q_1 = df_total['de_dt_m'] >= 10
cond_4q = df_total['de_dt_m'] < 13
cond_depart = df_total['cop_c_x'] == 'A01' #롯데백화점
cond_lm = df_total['cop_c_x'] == 'A02' #롯데마트
cond_super = df_total['cop_c_x'] == 'A03' #롯데슈퍼
cond_h = df_total['cop_c_x'] == 'A05' #하이마트

df_himart = df_total.loc[cond_h]
df_lottemart = df_total.loc[cond_lm]
df_super = df_total.loc[cond_super]
df_depart = df_total.loc[cond_depart]

In [ ]:
#롯데마트 1분기
df_lotte_1q = df_total.loc[cond_1q & cond_lm]

#하이마트-마트 연관분석
p24 = df_lotte_1q.pivot_table(index=['cust', 'de_dt'], columns='pd_nm', values='Label', aggfunc='min', fill_value=0)

#연관분석 진행, 최소 지지도 0.01
df_freq24 = apriori(p24, min_support = 0.01, use_colnames=True)
df_freq24

df_lotte_1Q = association_rules(df_freq24, metric='confidence', min_threshold=0.01)
df_lotte_1Q

In [ ]:
#롯데마트 2분기
df_lotte_2q1 = df_total.loc[cond_2q & cond_lm]
list_m = df_lotte_2q1['pd_nm'].value_counts().reset_index().iloc[2:]['pd_nm'].tolist()
cond23 = df_lotte_2q1['pd_nm'].isin(list_m)
df_lotte_2q = df_lotte_2q1.loc[cond23]

#하이마트-마트 연관분석
p24 = df_lotte_2q.pivot_table(index=['cust', 'de_dt'], columns='pd_nm', values='Label', aggfunc='min', fill_value=0)

#연관분석 진행, 최소 지지도 0.01
df_freq24 = apriori(p24, min_support = 0.01, use_colnames=True)
df_freq24

df_lotte_2Q = association_rules(df_freq24, metric='confidence', min_threshold=0.01)
df_lotte_2Q

In [ ]:
df_lotte_2Q.head(60)

In [ ]:
#롯데마트 3분기
df_lotte_3q1 = df_total.loc[cond_3q & cond_lm]
list_m = df_lotte_3q1['pd_nm'].value_counts().reset_index().iloc[2:]['pd_nm'].tolist()
cond23 = df_lotte_3q1['pd_nm'].isin(list_m)
df_lotte_3q = df_lotte_3q1.loc[cond23]

#하이마트-마트 연관분석
p24 = df_lotte_3q.pivot_table(index=['cust', 'de_dt'], columns='pd_nm', values='Label', aggfunc='min', fill_value=0)

#연관분석 진행, 최소 지지도 0.01
df_freq24 = apriori(p24, min_support = 0.015, use_colnames=True)
df_freq24

df_lotte_3Q = association_rules(df_freq24, metric='confidence', min_threshold=0.015)
df_lotte_3Q

In [ ]:
#롯데마트 4분기
df_lotte_4q1 = df_total.loc[cond_4q & cond_lm]
list_m = df_lotte_4q1['pd_nm'].value_counts().reset_index().iloc[3:]['pd_nm'].tolist()
list_m.remove('종량제봉투')
cond23 = df_lotte_4q1['pd_nm'].isin(list_m)
df_lotte_4q = df_lotte_4q1.loc[cond23]

#하이마트-마트 연관분석
p24 = df_lotte_4q.pivot_table(index=['cust', 'de_dt'], columns='pd_nm', values='Label', aggfunc='min', fill_value=0)

#연관분석 진행, 최소 지지도 0.01
df_freq24 = apriori(p24, min_support = 0.015, use_colnames=True)
df_freq24

df_lotte_4Q = association_rules(df_freq24, metric='confidence', min_threshold=0.015)
df_lotte_4Q

In [ ]:
df5

In [ ]:
df_total
#식료품이 경제상황에 따른 가격변동이 심하다.
#식료품이 중요하다?
#식료품 자영업자들을 타겟으로 한 사업. -> 이 고객군들이 우리 플랫폼을 이용함으로써 매출 상승을 이뤄내야 함

In [ ]:
df_re = pd.read_excel('L4_pd_분류수정.xlsx')

In [ ]:
df_total_re = pd.merge(df_total, df_re, on='pd_c', how='left')

In [ ]:
cond100 = df_total_re['대분류'] == '식료품'

len(df_total_re.loc[cond100]) / len(df_total_re) *100 
#긁은 거래내역에서 식료품을 차지하는 비중 (중복을 고려하지 않고)
#식료품 -> 자주산다 ()

In [ ]:
df_total_re.loc[cond100]

In [ ]:
df_total_re.loc[cond100]['buy_am'].sum() / df_total_re['buy_am'].sum()

In [ ]:
df_total_re.loc[cond100]['buy_am'].sum()

In [ ]:
df_total_re['buy_am'].sum()

In [ ]:
notlist = ['PD0282', 'PD0283', 'PD0284', 'PD0285', 'PD0286', 'PD0287', 'PD0288']
cond101 = df_total_re['pd_c'].isin(notlist)
cond100 = df_total_re['대분류'] == '식료품'

df_total_re.loc[~cond101 & cond100]['buy_am'].sum() / df_total_re.loc[~cond101]['buy_am'].sum()

In [ ]:
#롯데마트 1분기
df_lotte_1qq = df_total.loc[cond_lm]

In [ ]:
cond200 = df_lotte_1qq['pd_nm'] == '가공우유'
tofu_custlist = df_lotte_1qq.loc[cond200]['cust'].unique().tolist()

cond201 = df_lotte_1qq['cust'].isin(tofu_custlist)

df_lotte_1q = df_lotte_1qq.loc[cond201]

In [ ]:
#하이마트-마트 연관분석
p24 = df_lotte_1q.pivot_table(index=['cust', 'de_dt'], columns='pd_nm', values='Label', aggfunc='min', fill_value=0)

#연관분석 진행, 최소 지지도 0.01
df_freq24 = apriori(p24, min_support = 0.02, use_colnames=True)
df_freq24

df_lotte_1Q = association_rules(df_freq24, metric='confidence', min_threshold=0.02)
df_lotte_1Q

In [ ]:
df_lotte_1Q.head(50)

In [ ]:
df_lotte_1qq.loc[cond200]

In [ ]:
#cond1 국산돼지삼겹살을 구매한 고객, 
#cond2 해당 고객이 국산돼지삼겹살을 구매한 날짜. 
# cond = cond1 & cond2 
cond200 = df_lotte_1qq['pd_nm'] == '가공우유'
tofu_rctlist = df_lotte_1qq.loc[cond200]['rct_no'].unique().tolist()

cond201 = df_lotte_1qq['rct_no'].isin(tofu_rctlist)

df_lotte_1q = df_lotte_1qq.loc[cond201]

df_lotte_1q

In [ ]:
#하이마트-마트 연관분석
p24 = df_lotte_1q.pivot_table(index=['rct_no'], columns='pd_nm', values='Label', aggfunc='min', fill_value=0)

#연관분석 진행, 최소 지지도 0.01
df_freq24 = apriori(p24, min_support = 0.01, use_colnames=True)
df_freq24

df_lotte_1Q = association_rules(df_freq24, metric='confidence', min_threshold=0.01)
df_lotte_1Q.sort_values(by='lift', ascending=False).head(50)

In [10]:
df2['chnl_dv'].value_counts()

chnl_dv
1    3953242
2     428501
Name: count, dtype: int64

In [11]:
df2

,cust,rct_no,chnl_dv,cop_c,br_c,pd_c,de_dt,de_hr,buy_am,buy_ct,Label
0,M430112881,A01000001113,1,A01,A010039,PD0290,20210101,10,15000.0,1,1
1,M646853852,A01000002265,1,A01,A010025,PD1369,20210101,10,79700.0,1,1
2,M430112881,A01000003148,1,A01,A010039,PD0290,20210101,10,19000.0,1,1
3,M430112881,A01000003148,1,A01,A010039,PD0290,20210101,10,19000.0,1,1
4,M430112881,A01000004946,1,A01,A010039,PD0290,20210101,10,19000.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
4381738,M533286446,E06052119978,2,A06,NaN,PD0507,20211231,23,50000.0,1,1
4381739,M533286446,E06052119978,2,A06,NaN,PD0507,20211231,23,50000.0,1,1
4381740,M533286446,E06052119978,2,A06,NaN,PD0507,20211231,23,50000.0,1,1
4381741,M533286446,E06052119978,2,A06,NaN,PD0507,20211231,23,50000.0,1,1
4381742,M533286446,E06052119978,2,A06,NaN,PD0507,20211231,23,50000.0,1,1